<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
        <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
        <siteMapNode SystemName="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageBenefits" ImageUrl="~/Administration/Content/images/ico-customers.png" >
          <siteMapNode SystemName="Customers" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers, ManageBenefits" controller="Customer" action="List" />
          <siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" />
          <siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" />
        </siteMapNode>
       <siteMapNode SystemName="" nopResource="Admin.Catalog" PermissionNames="ManageLoans,ManageContributions" ImageUrl="~/Administration/Content/images/ico-sales.png">
          <siteMapNode SystemName="" nopResource="Admin.Contributions" PermissionNames="ManageContributions" controller="Contributions"  action="List"/>
         <siteMapNode SystemName="" nopResource="Admin.Loans" PermissionNames="ManageLoans" controller="Loans"  action="List"/>
        <siteMapNode SystemName="" nopResource="Admin.Returns" PermissionNames="ManageReturns" controller="Returns"  action="List"/> 
      </siteMapNode>    
        <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManageBenefits,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts" ImageUrl="~/Administration/Content/images/ico-configuration.png">
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" >
            <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" />
            <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.Contributions" controller="Setting" action="Contributions" />
            <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.Loan" controller="Setting" action="Loans" />
            <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.SequenceIds" controller="Setting" action="SequenceIds" />
            <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.BankSettings" controller="Setting" action="Bank" />
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.SignatureSettings" controller="Setting" action="Signature" />  
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings"/>
          </siteMapNode>
          <siteMapNode SystemName="" nopResource="Admin.Configuration.KsSystem" PermissionNames="ManageSystem" controller="KsSystem" action="List"/>
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Tabs" PermissionNames="ManageTabs" controller="Tab" action="List"/>
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Benefits" PermissionNames="ManageBenefits" controller="Benefit" action="List"/>
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List"/>
          <siteMapNode SystemName="" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List"/>
          <siteMapNode SystemName="" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List"/>
          <siteMapNode SystemName="Activity Log" nopResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog">
            <siteMapNode SystemName="Activity Types" nopResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes"/>
            <siteMapNode SystemName="Activity Log" nopResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs"/>
          </siteMapNode>
          <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" />
        </siteMapNode>
        <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks,ManageSettings" ImageUrl="~/Administration/Content/images/ico-system.png">
            <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" />
            <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" />
            <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" />
            <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />
            <siteMapNode SystemName="" nopResource="Admin.System.ScheduleBatchs" controller="Setting" action="ScheduleBatch" />
            <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" />
        </siteMapNode>
    </siteMapNode>
</siteMap>

