<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <nlog>
    <targets>
      <target name="Trace" type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Contribution.Copere.Out\Trace.txt" />
      <target name="Debug" type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Contribution.Copere.Out\Debug.txt" />
      <target name="Info " type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Contribution.Copere.Out\Info.txt" />
      <target name="Warn" type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Contribution.Copere.Out\Warn.txt" />
      <target name="Error" type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Contribution.Copere.Out\Error.txt" />
      <target name="Fatal" type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Contribution.Copere.Out\Fatal.txt" />
      <target name="Console" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Debug,Console"/>
    </rules>
  </nlog>

  <appSettings>
    <add key="" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>