<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <nlog>
    <targets>
      <target name="Production" type="File" fileName="C:\inetpub\wwwroot\Acmr\App_Data\Service\Ks.Batch.Copere.Out\Logs\Log.txt" />
      <target name="Console" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Production,Console"/>
    </rules>
  </nlog>

  <appSettings>
    <add key="DefaultCulture" value="es-PE" />
    <add key="Path" value="C:\inetpub\wwwroot\Acmr\App_Data\Service\Ks.Batch.Copere.Out"/>
    <add key="SysName" value="Ks.Batch.Copere.Out"/>
  </appSettings>

  <connectionStrings>
    <add name="ACMR" connectionString="Data Source=MV2012R2\SQLEXPRESS;Initial Catalog=ACMR;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Admin12" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>