<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <nlog>
    <targets>
      <target name="Production" type="File" fileName="C:\inetpub\wwwroot\Acmr\App_Data\Service\Ks.Batch.Copere.In\Logs\Log.txt" />
      <target name="Console" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Production,Console" />
    </rules>
  </nlog>

  <appSettings>
    <add key="DefaultCulture" value="es-PE" />
    <add key="Path" value="C:\inetpub\wwwroot\Acmr\App_Data\Service\Ks.Batch.Copere.In"/>
    <add key="SysName" value="Ks.Batch.Copere.In"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="ACMR" connectionString="Data Source=MV2012R2\SQLEXPRESS;Initial Catalog=ACMR20190516;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Admin12" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>