@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
 
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
<div class="side-2">
    
</div>
<div class="center-2">
     
    @RenderBody()
     
</div>
