@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Partial("_Notifications")

<div class="master-wrapper-page">
    @Html.Partial("Header")

    <div class="master-wrapper-content">
        @RenderBody()
    </div>
</div>