<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <nlog>
    <targets>
      <target name="Production" type="File" fileName="C:\KS\ACMR\WinService\Ks.Batch.Caja.In\Logs\Log.txt" />
      <target name="Console" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Production,Console" />
    </rules>
  </nlog>

  <appSettings>
    <add key="Path" value="C:\KS\ACMR\WinService\Ks.Batch.Caja.In"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="ACMR" connectionString="Data Source=IDEA-PC\MSSQLSERVER2014;Initial Catalog=ACMR;Integrated Security=True;Persist Security Info=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>