<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Production" xsi:type="File" fileName="C:\KS\CAFECURICH\pftp.log" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" archiveEvery="Day" archiveFileName="C:\KS\CAFECURICH\pftp.{#}.log" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="10240" maxArchiveFiles="200" />
      <target name="Console" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Production,Console" />
    </rules>
  </nlog>
  
  <appSettings>
    <add key="DefaultCulture" value="es-PE" />
    <add key="Path" value="C:\KS\CAFECURICH\" /> 
    <add key="Ext" value="*.csv" />
    <add key="Customer" value="Cafe Curich" />
    <add key="SysName" value="Ks.Batch.Ftp.Upload" />
    <add key="ShowName" value="Upload files to ftp" />
    <add key="Host" value="ftp://161.35.225.62:21" />
    <add key="Root" value="CCA/SELL/" />
    <add key="Moved" value="UPLOADED/" />
    <add key="User" value="ftpcafe" />
    <add key="Password" value="1RADIKAL" />
    <add key="IsJob" value="True" />
    <add key="Interval" value="30" />
    <add key="IsDebug" value="True" />
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>