<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>
 
  <nlog>
    <targets>
      <target name="Production" type="File" fileName="C:\inetpub\wwwroot\Acmr\App_Data\Service\Ks.Batch.Merge\Logs\Log.txt" />
      <target name="Console" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Production,Console" />
    </rules>
  </nlog>

  <connectionStrings>
    <add name="ACMR" connectionString="Data Source=MV2012R2\SQLEXPRESS;Initial Catalog=ACMR20190917;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Admin12" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="Path" value="C:\inetpub\wwwroot\Acmr\App_Data\Service\Ks.Batch.Merge\Read" />
    <add key="SysName" value="Ks.Batch.Merge" />
    <add key="ContributionNoCash" value="Ks.Batch.Merge.Pre.Contribution.NoCash" />
    <add key="ContributionPayedComplete" value="Ks.Batch.Merge.Pre.Contribution.PayedComplete" />
    <add key="ContributionIncomplete" value="Ks.Batch.Merge.Pre.Contribution.Incomplete" />
    <add key="ContributionNextQuota" value="Ks.Batch.Merge.Pre.Contribution.NextQuota" />
    <add key="LoanNoCash" value="Ks.Batch.Merge.Pre.Loan.NoCash" />
    <add key="LoanPayedComplete" value="Ks.Batch.Merge.Pre.Loan.PayedComplete" />
    <add key="LoanIncomplete" value="Ks.Batch.Merge.Pre.Loan.Incomplete" />
    <add key="LoanNextQuota" value="Ks.Batch.Merge.Pre.Loan.NextQuota" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>